/*  FONTS  */

@font-face {
    font-family: BEYNO;
    src: url(../fonts/BEYNO.ttf);
}
@font-face {
    font-family: Lato Regular;
    src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: Lato Bold;
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato SemiBold;
    src: url(../fonts/Lato-Semibold.ttf);
}

@font-face {
    font-family: Lato Heavy;
    src: url(../fonts/Lato-Heavy.ttf);
}

@font-face {
    font-family: Lato Light;
    src: url(../fonts/Lato-Light.ttf);
}