@import url(../stylesheets/reset.css);
/*  reset default browsers styles  */
@import url(../stylesheets/fonts.css);
/*  includes fonts acording to specification  */
/* line 5, ../sass/main.scss */
body {
  max-width: 1600px;
  margin: 0 auto;
}
/* line 9, ../sass/main.scss */
body * {
  transition: all .5s;
  box-sizing: border-box;
}
/* line 14, ../sass/main.scss */
body span {
  color: #009dda;
}
/* line 16, ../sass/main.scss */
body article {
  font: 35px Lato Bold;
  color: #232323;
  margin-bottom: 23px;
}
/* line 22, ../sass/main.scss */
body a {
  cursor: pointer;
}

/*  HEADER  */
/* line 31, ../sass/main.scss */
header nav.navbar {
  background-color: #fff;
  background-image: none;
  border: none;
  height: 70px;
}
/* line 37, ../sass/main.scss */
header nav.navbar #second-level {
  display: none;
}
/* line 42, ../sass/main.scss */
header nav.navbar .navbar-header h1 {
  margin-top: 24px;
  font: 22px BEYNO;
}
/* line 46, ../sass/main.scss */
header nav.navbar .navbar-header h1 span {
  font-weight: bold;
}
/* line 47, ../sass/main.scss */
header nav.navbar .navbar-header h1 a {
  color: #503392;
}
/* line 48, ../sass/main.scss */
header nav.navbar .navbar-header h1 a:hover {
  text-decoration: none;
}
/* line 52, ../sass/main.scss */
header nav.navbar ul.nav.navbar-nav {
  background-color: #fff;
}
/* line 55, ../sass/main.scss */
header nav.navbar ul.nav.navbar-nav .dropdown.open a.dropdown-toggle {
  background-color: #fff;
  background-image: none;
  box-shadow: none;
}
/* line 61, ../sass/main.scss */
header nav.navbar ul.nav.navbar-nav li a {
  font: 16px Lato Regular;
  color: #232323;
  margin: 10px 14px;
}
/* line 67, ../sass/main.scss */
header nav.navbar ul.nav.navbar-nav li a:hover {
  font-family: Lato Bold;
}
/* line 69, ../sass/main.scss */
header nav.navbar ul.nav.navbar-nav ul.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.4);
  border-top: 2px solid #fff200;
  margin: 1px -73px 0 0;
  width: 180px;
}
/* line 75, ../sass/main.scss */
header nav.navbar ul.nav.navbar-nav ul.dropdown-menu li a {
  color: #000;
  margin: 0;
  padding: 10px;
}
/* line 77, ../sass/main.scss */
header nav.navbar ul.nav.navbar-nav ul.dropdown-menu li a:hover {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff200;
}
/* line 83, ../sass/main.scss */
header nav.navbar ul.nav.navbar-nav ul.dropdown-menu #second-level {
  margin: -83px -179px 0 0;
  border-radius: 0;
}
/* line 92, ../sass/main.scss */
header nav.navbar div.form-group input.form-control {
  border: none;
  box-shadow: none;
  border-radius: 0;
  width: 180px;
  height: 30px;
  background-color: #e8e4f1;
  margin-top: 12px;
}

/* SLIDER  */
/* line 111, ../sass/main.scss */
#slider .container-fluid {
  padding: 0;
}
/* line 113, ../sass/main.scss */
#slider .carousel {
  margin-top: 70px;
}
/* line 116, ../sass/main.scss */
#slider .carousel span {
  color: #fff;
}
/* line 119, ../sass/main.scss */
#slider .carousel-caption {
  bottom: 307px;
  right: 10%;
  left: 10%;
}
/* line 124, ../sass/main.scss */
#slider .carousel-caption h2 {
  font: 64px Lato Bold;
  letter-spacing: 4px;
  margin-bottom: 23px;
}
/* line 128, ../sass/main.scss */
#slider .carousel-caption h2 span {
  color: #fff200;
}
/* line 131, ../sass/main.scss */
#slider .carousel-caption p {
  font: 16px Lato Regular;
  line-height: 32px;
  max-width: 690px;
  margin: 0 auto;
}
/* line 139, ../sass/main.scss */
#slider .carousel-inner > .item > img {
  height: 790px;
  width: 100%;
}

/*  PRODUCTS  */
/* line 148, ../sass/main.scss */
#products {
  text-align: center;
  padding: 115px 0;
  /* ... */
}
/* line 152, ../sass/main.scss */
#products p {
  font: 14px Lato Regular;
  color: #999999;
  max-width: 650px;
  margin: 0 auto;
  line-height: 24px;
}
/* line 159, ../sass/main.scss */
#products .card-block {
  /*  Flex-box styles for main card-block  */
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  flex-flow: row wrap;
  max-width: 1175px;
  margin: 60px auto 0 auto;
}
/* line 168, ../sass/main.scss */
#products .card-block .block {
  border: 1px solid #ebebeb;
  margin: 30px 16.5px 0 16.5px;
  flex: 1 1 200px;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
}
/* line 176, ../sass/main.scss */
#products .card-block .block .item {
  padding-top: 40px;
  height: 119px;
  flex: 1 1 200px;
}
/* line 184, ../sass/main.scss */
#products .flip-container {
  /*   animation for cards in product-block   */
  perspective: 1000px;
  position: relative;
  height: 149px;
  flex: 1 1 200px;
}
/* line 190, ../sass/main.scss */
#products .flip-container .front, #products .flip-container .back {
  width: 100%;
  height: 149px;
  backface-visibility: hidden;
  position: absolute;
  top: 1px;
  left: 0;
}
/* line 199, ../sass/main.scss */
#products .flip-container .flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  transform-origin: 100% 75px;
}
/* line 206, ../sass/main.scss */
#products .flip-container .front {
  z-index: 2;
}
/* line 209, ../sass/main.scss */
#products .flip-container .front article {
  font: 14px Lato Heavy;
  margin: 23px 0 28px 0;
}
/* line 210, ../sass/main.scss */
#products .flip-container .front p {
  font: 14px Lato Light;
  max-width: 150px;
}
/* line 213, ../sass/main.scss */
#products .flip-container .back {
  background-color: #503392;
  transform: rotateX(180deg);
  padding-top: 33px;
}
/* line 218, ../sass/main.scss */
#products .flip-container .back a {
  font: 14px Lato SemiBold;
  color: #fff;
  text-decoration: none;
}
/* line 223, ../sass/main.scss */
#products .flip-container .back a:hover {
  color: #009dda;
}
/* line 224, ../sass/main.scss */
#products .flip-container .back img {
  margin-top: 25px;
}
/* line 227, ../sass/main.scss */
#products .vertical.flip-container:hover .flipper {
  transform: rotateX(-180deg);
}
/* line 229, ../sass/main.scss */
#products .vertical.flip-container:hover .flipper .front {
  z-index: 0;
  backface-visibility: hidden;
}

/*  ABOUT US  */
/* line 237, ../sass/main.scss */
#about-us {
  margin: 110px 0 32px 0;
}
/* line 240, ../sass/main.scss */
#about-us p {
  font: 14px Lato Regular;
  line-height: 24px;
  color: #999999;
  margin-bottom: 46px;
}
/* line 247, ../sass/main.scss */
#about-us p:nth-child(3) {
  color: #373737;
  margin-bottom: 70px;
}
/* line 254, ../sass/main.scss */
#about-us .skills b {
  font: 13px Lato Bold;
}
/* line 256, ../sass/main.scss */
#about-us .skills b.interest {
  float: right;
}
/* line 258, ../sass/main.scss */
#about-us .skills .progressBar {
  width: 100%;
  height: 9px;
  border: 1px solid #ddd;
  padding: 2px;
  margin: 14px 0 35px 0;
}
/* line 265, ../sass/main.scss */
#about-us .skills .progressBar div {
  max-width: 100%;
  height: 100%;
  width: 0;
  background-color: #009dda;
}
/* line 274, ../sass/main.scss */
#about-us .ipad {
  text-align: right;
}
/* line 277, ../sass/main.scss */
#about-us .ipad img {
  max-width: 100%;
  padding-top: 75px;
}
/* line 283, ../sass/main.scss */
#about-us .footer {
  text-align: center;
  max-width: 680px;
  margin: 0 auto;
  margin-top: 155px;
}

/*  Footer  */
/* line 296, ../sass/main.scss */
#contact {
  position: relative;
  font: 16px Lato Regular;
}
/* line 300, ../sass/main.scss */
#contact .shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: inset 10px 10px 0px 360px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 10px 10px 0px 360px rgba(0, 0, 0, 0.4);
  box-shadow: inset 10px 10px 0px 360px rgba(0, 0, 0, 0.4);
}
/* line 309, ../sass/main.scss */
#contact .form {
  width: 945px;
  max-width: 100%;
  height: 435px;
  margin: 98px auto;
  padding: 83px 65px;
  -webkit-box-shadow: inset 10px 10px 0px 360px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 10px 10px 0px 360px rgba(0, 0, 0, 0.5);
  box-shadow: inset 10px 10px 0px 360px rgba(0, 0, 0, 0.5);
  color: #cacac9;
}
/* line 321, ../sass/main.scss */
#contact .form form ::-webkit-input-placeholder {
  color: #979994;
}
/* line 323, ../sass/main.scss */
#contact .form form input[type="text"] {
  height: 50px;
  width: 238px;
  border: 1px solid #979994;
  background-color: rgba(255, 255, 255, 0);
  padding-left: 20px;
  margin: 0 14px 14px 0;
}
/* line 332, ../sass/main.scss */
#contact .form form textarea {
  width: 494px;
  max-width: 100%;
  height: 144px;
  padding: 20px;
  margin: 0 14px 12px 0;
  border: 1px solid #979994;
  background-color: rgba(255, 255, 255, 0);
}
/* line 342, ../sass/main.scss */
#contact .form form button {
  width: 120px;
  height: 50px;
  color: #373737;
  background-color: #ffff00;
  border: none;
  margin-left: 215px;
}
/* line 350, ../sass/main.scss */
#contact .form form button:hover {
  background-color: #009dda;
}
/* line 355, ../sass/main.scss */
#contact .form .contact-info p {
  padding: 0 30px;
  font: 16px Lato Regular;
  line-height: 1.5em;
  margin: 0px 0 23px;
}
/* line 361, ../sass/main.scss */
#contact .form .contact-info p a {
  color: #cacac9;
  text-decoration: none;
}
/* line 363, ../sass/main.scss */
#contact .form .contact-info p a:hover {
  color: #ffff00;
}
/* line 368, ../sass/main.scss */
#contact .footer {
  height: 60px;
  padding: 20px;
  background-color: #333;
  color: #cacac9;
  font: 14px Lato Regular;
}
/* line 375, ../sass/main.scss */
#contact .footer .social-links {
  text-align: right;
}
/* line 378, ../sass/main.scss */
#contact .footer .social-links a {
  margin-right: 20px;
}
/* line 379, ../sass/main.scss */
#contact .footer .social-links :last-child {
  margin-right: 0;
}
/* line 383, ../sass/main.scss */
#contact iframe {
  display: block;
  width: 100%;
}
